*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/
body {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a:link {
  color: #2090b4;
}
a:visited {
  color: #2090b4;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1em 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

::-moz-selection {
  background: #66b360;
  color: white;
  text-shadow: none;
}

::selection {
  background: #66b360;
  color: white;
  text-shadow: none;
}

/**
 * Form elements: Inputs, buttons, etc.
 */
input,
button,
select,
textarea {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/**
 * @file _print.scss
 */
